
{% extends "admin/base.html" %}

{% load i18n %}
{% load static %}
{% block title %}

    {{ title }} | {% trans 'site admin' %}
{% endblock %}

{% block branding %}
{#    <link rel="stylesheet" type="text/css" href="{% static "css/flatly/bootstrap.min.css" %}" />#}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        {% trans 'sites admin' %}
    </a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
