.re-imei {
    font-size: 20px;
    font-family: "微软雅黑";
    /*font-weight: bold;*/
    text-align: center;
    color: #00ccff;
}

.just-for-data, .jfd {
    display: none;
}

body {
    /*background-color: #33ffff;*/
    /*background: url("../img/bj2.png") ;*/
    /*background: -webkit-linear-gradient(left, #0033cc, #6666ff, #0000ff);*/
    background-color: #ededed;

}

.middle {
    text-align: center !important;
    color: #000000 !important;
}

.middle .table {
    margin-bottom: 0;
}

.right-panel {
    position: fixed;
    top: 10px;
    right: 10px;
}

.refresh {
    background-color: rgba(240, 173, 78, 0.5);
    border: 0;
}

.switch-1:before, .switch-0:before, .switch---:before {
    /*content: '开';*/
    border: 1px solid;
    font-size: 12px;
    /*color: #FF00FF;*/
    padding: 1px 6px;
    border-radius: 2px;
}

.switch---:before {
    content: '--';
    color: orangered;
}

.switch-1:before {
    content: '开';
    color: #FF00FF;
}

.switch-0:before {
    content: '关';
    color: #0000EE;
}

.belt-1:before, .belt-0:before, .belt---:before {
    border: 1px solid;
    font-size: 12px;
    padding: 1px 6px;
    border-radius: 2px;
}

.belt-1:before {
    content: '已系';
    color: #0000EE;
}

.belt-0:before {
    color: #FF00FF;
    content: '未系';
}

.belt---:before {
    color: orangered;
    content: '--';
}