.button-menu{
    width: 100%;

}
.button-menu .box{
    padding: 5px;
    width: 50%;
    float: left;
    height: 100px;
    font-size: 50px;
    box-sizing: border-box;
    line-height: 100px;
}
.board{
    padding: 5px;
    background-color: darkorange;
}