
body {
    font-size: 15px;
    padding: 10px 10px 0;
}

/*tbody tr{*/
    /*border-style: dashed!important;*/
/*}*/
.zt-panel td{
    vertical-align: middle !important;
    border-top: dashed 1px #DDD !important; ;
}
.main-panel{
    /*border-style: dotted;*/
    border: solid 1px #DDD ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

.zt-panel{
    /*border-style: dotted;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    /*background-color: rgba(255, 255, 255, 0.6);*/
}

.zt-panel h4,h5, h6{
    margin-top: 2px;
    margin-bottom: 2px;
}

/*.zt-panel button{*/
    /*float: right;*/
/*}*/

.zt-border{
    border: solid 1px #DDD ;
}

.zt-border-blue{
    border: solid 1px #3333ff;
}

.zt-panel > .table{
    margin-bottom: 0;
}


/*右三角*/
.triRight {
    float: right;
    /*margin-top: 8px;*/
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 14px solid #ff0000;
    border-bottom: 9px solid transparent;
}

.trip{
    vertical-align: middle;
}


/*去掉最上面一行的上边框线*/
.no-top > td{
    border-top: 0 none !important;
}

/**************
//加粗
tr > td:first-child{
    font-weight: bold;
}

.zt-panel > .table{
    margin-bottom: 0;
}
//右对齐
tr>td:last-child, tr > th:last-child{
    text-align: right;
    color: blue;
}

*/
.right-value>tbody>tr>td:last-child, .right-value>tbody>tr > th:last-child{
    text-align: right;
    color: blue;
}


.fill{
    width: 100%;
    margin-bottom: 5px;
    /*height: 100%;*/
}


.fixed-footer{
    /*position: fixed;*/
    /*bottom: 0;*/
    /*clear: both;*/
}

.white-glass{
    background-color: rgba(255, 255, 255, 0.8);
}