
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480644344803'); /* IE9*/
  src: url('iconfont.eot?t=1480644344803#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480644344803') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480644344803') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480644344803#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check1:before { content: "\e661"; }

.icon-check0:before { content: "\e662"; }

.icon-radio0:before { content: "\e690"; }

.icon-radio1:before { content: "\e691"; }

