<!DOCTYPE html>
<html>
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load staticfiles %}
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}?v=1448280163" rel="stylesheet">
    <link type="text/css" href="{% static 'css/zt.css' %}?v=14482801638" rel="stylesheet">
    <link type="text/css" href="{% static 'css/cxwx.css' %}?v=14484223538" rel="stylesheet">
    <script type="text/javascript" src=" {% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'js/zt.js' %}"></script>
    {% block title %}

    <title>用户档案</title>

    {% endblock %}


</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>
{% block outer %}
{% endblock %}

{#流量统计#}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?3d5d8b037c46ea2e71d6ab54bc1724e9";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
