{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load static %}
{% block extrastyle %}{{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/flatly/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/iconfont/iconfont.css" %}" />
    <style type="text/css">
        tr.success .iconfont:before {
            color: #ff8c00;
            content: "\e691";
        }
        table .tb-check{
            width: 50px  !important;
        }
        .dashboard .module table th{
            width: auto;
        }
        .dashboard #content{
            width: 90%;
            margin: auto;
        }
    </style>
    <script type="text/javascript" src=" {% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main" >
    {% if not imei %}
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Warning!</h4>
  <p>没选择 设备imei <a href="/admin/car/device/" class="alert-link">传送门</a>.</p>
</div>
    {% endif %}
<input type="hidden" id="imei" value="{{ imei }}">
    {% csrf_token %}
<ul class="breadcrumb">
  <li><a href="/admin/">首页</a></li>
  <li><a href="/admin/car/device/?q={{ imei }}">设备[ {{ imei }} ]</a></li>
  <li class="active">固件升级</li>
</ul>
<input type="text" class="form-control" style="width: 100%"
       value=""
       placeholder="输入 文件名 或 版本号 实时搜索固件程序 " id="q" autocomplete="off">
<br>
<div class="app-car module">
     <table class="table table-striped table-hover " id="firmware_list">
      <thead>
        <tr data-tag="head">
            <th class="tb-check">选择</th>
          <th>#</th>
          <th>文件名</th>
          <th>版本</th><th>md5</th>
          <th>上传日期</th>
        </tr>
      </thead>
      <tbody id="cl">
        <tr>
          <td>1</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="success">
          <td>2</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>

      </tbody>
    </table>
</div>
{% if imei %}
    <input type="button" value="确定升级" id="upd" style="display: block;margin: 10px auto" />
    {% else %}
    <input type="button" value="确定升级"  id="upd" class="btn btn-info disabled" style="display: block;margin: 10px auto" />
{% endif %}
<div class="hidden tmp">
    <div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="ct"></span> 　
  <strong>OK </strong> 升级指令已发送!
        <a href='http://gards.covixon.com:9600/gardsdb/_design/q1/_view/cct_p?limit=50&startkey=["{{ imei }}","3"]&endkey=["{{ imei }}","2"]&descending=true'
           class="alert-link">历史报文传送门</a>.
        <pre id="cmd">{{  d }}</pre>
</div>
</div>

</div>
    <script type="text/javascript">
    var q = '';
    function checkq(){
        var qt = $('#q').val();
        if (q!=qt){
            q = qt;
            LoadHtml();
        }

    }
    setInterval(checkq, 500);
    function AddHandler(){
        $('tbody tr').click(function(){
            $('.success').removeClass('success');
            $(this).addClass('success');
        });
    }
    $('#q').focus();
    AddHandler();

    function LoadHtml(){
        $('#cl').load('/car/firmware?q=' + $('#q').val(),function(){
            $('#cl tr').eq(0).addClass('success');
            AddHandler();
        });
    }
    LoadHtml();
{#    $("#q").on('input',function(e){#}
{#        LoadHtml();#}
{#    });#}
    var d;
    $('#upd').click(function(){
        $('.alert-open').remove();
        $.post("/car/upd",
                {
                    imei:  $('#imei').val(),
                    pk: $('tr.success').data('pk'),
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                },
                function(data){
                    d = data;
                    console.log(data.cmd);
                    $('#cmd').html(data.cmd);
                    $('.ct').html(data.ct)
                }
        );
        $(this).before($('.tmp .alert').clone(true).addClass('alert-open'));

    });
    </script>
{% endblock %}


