
    {% for e in items %}
<tr data-pk="{{ e.pk }}">
    <td><i class="iconfont"></i></td>
    <td>{{ forloop.counter }}</td>
    <td>{{ e.file_path }}</td>
    <td>{{ e.version }}</td>
    <td>{{ e.md5 }}</td>
    <td>{{ e.date_created }}</td>
</tr>
    {% endfor %}