{% extends 'base.html' %}
{% block title %}
    <title>硬件信息</title>
    <script>
    $(document).ready(function(){
        $('button.btn-warning').click(function()
        {
            var r= confirm("真的确定要取消关联？？");
            if (r==true){
                var url = $('#u').val();
                var ct = $('input[name="csrfmiddlewaretoken"]').val();
                $.StandardPost(url,{
                    openid: $('#openid').val(),
                    active_code: $('#active_code').val(),
                    csrfmiddlewaretoken: ct
                });
            }
            else{
                return false;
            }
        });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="zt-panel white-glass right-value ">
        <table class="table">
            <tbody>
            <tr class="no-top">
                <td><strong>已关联设备</strong></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="re-imei">{{ imei }}</td>
{#                <td colspan="2" class="re-imei">{{ imei }}</td>#}
            </tr>
            </tbody>
        </table>
    </div>
    <div class="hidden">
        {% csrf_token %}
        <input id="openid" value="{{ openid }}" type="hidden">
        <input id="active_code" value="{{ active_code }}" type="hidden">
        <input id="u" value="{% url 'unbind' %}" type="hidden">
    </div>
    <div class="zt-panel white-glass right-value ">
        <table class="table">
            <tbody>
            <tr class="no-top">
                <td><strong>硬件信息</strong></td>
                <td></td>
            </tr>
            <tr>
                <td>设备固件</td>
                <td>{{ hw.fw }}</td>
            </tr>
            <tr>
                <td>车辆固件</td>
                <td>{{ hw.fw_can }}</td>
            </tr>
			<tr>
                <td>应用固件</td>
                <td>{{ hw.fw_app }}</td>
            </tr>
			<tr>
                <td>CCID号码</td>
                <td>{{ hw.sim_ccid }}</td>
            </tr>			
            <tr>
                <td>IMSI号码</td>
                <td>{{ hw.sim_imsi }}</td>
            </tr>
            <tr>
				<td>IMEI信息</td>
				<td>{{ hw.mdm_imei }}</td>
			</tr>
			<tr>
				<td>车架号</td>
				<td>{{ hw.vin }}</td>
			</tr>			
            </tbody>
        </table>
    </div>
    <br>
    <button class="fill btn btn-warning" >解 除 关 联</button>


{% endblock %}