{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
<div class="button-menu">
<div class="box">
<div class="board">批量导入</div>
</div>
    <div class="box">
        <div class="board">管理入口</div>
</div>
</div>
</div>
{% endblock %}
