{% extends 'base.html' %}

{% block title %}
    <style type="text/css">
        html,body,#map{
            width:100%;
            height:100%;
            overflow:hidden;
            margin:0;
            padding:0;
            font-size:11px;
            font-family:"微软雅黑";
        }
        #map{
            width: 100%;
            height: 100%
        }
        #map label{
            /* 防止bootstrap中的 label 样式与
             * 百度地图中的div内部的 label 标签样式冲突
             * 防止地图中的信息显示错位
             */
            max-width: inherit;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xabAK2yF5G57GVOykz0BQXLy"></script>
    <title>车辆位置</title>

{% endblock %}

{% block content %}
    <div id="map" >地图加载失败！</div>
    <div class="jfd"></div>
{% endblock %}

{% block outer %}
    <script type="text/javascript">
        // 百度地图API功能
        var map = new BMap.Map("map");
        var gps = {{ gps|safe }};
        console.log(gps);
        if (gps.length>0){
            var pointArr = [new BMap.Point(gps[0],gps[1])];
            setTimeout(function(){
                var convertor = new BMap.Convertor();
                convertor.translate(pointArr, 1, 5, translateCallback)
            }, 1000);
        }else{
            var p1= new BMap.Point(114.064962, 22.561999);
            map.centerAndZoom(p1, 11);
        }

{#        map.centerAndZoom(p1, 15);#}
{#        var marker1 = new BMap.Marker(p1);#}
{#        var info1 = new BMap.InfoWindow("当前位置:<br>");#}
{#        marker1.addEventListener("click", function(){this.openInfoWindow(info1);});#}
{#        marker1.setIcon(icon1);#}
{#        map.addOverlay(marker1);#}
        var marker ;
        var geoc = new BMap.Geocoder();
        translateCallback = function (data){
            if(data.status === 0) {
                marker = new BMap.Marker(data.points[0]);
                map.addOverlay(marker);
                geoc.getLocation(data.points[0], function(rs){
                    var addComp = rs.addressComponents;
                    var msg = addComp.street + ' ' +
                            addComp.streetNumber  + '<br>' +
                            addComp.province + ' ' +
                            addComp.city + ' ' +
                            addComp.district + '<br>' +
                                    '更新时间(' + gps[2] + ')';
                    var label = new BMap.Label(msg, {offset:new BMap.Size(20,-10)});
                    marker.setLabel(label);
                    map.centerAndZoom(data.points[0], 16);
                });
            }
        };

    </script>
{% endblock %}
