{% extends 'base.html' %}
{% block title %}
    <title>关联车辆</title>
{% endblock %}

{% block content %}
    <form method="post" action="">{% csrf_token %}
    <div class="zt-panel white-glass">
        <table class="table">
            <tbody>
                <tr class="no-top">
                    <td><label class="label-success label">已关联车辆 IMEI</label> </td><td></td>
                </tr>
                <tr ><td colspan="2" class="re-imei">{{ user.vehicle.imei }}</td></tr>
            </tbody>
        </table>
    </div>
     <br>
     <a href="#" class="btn white-glass fill btn-lg" >取　消　关　联</a>
    </form>
{% endblock %}