{% extends 'base.html' %}
{% block title %}
    <title>关联车辆</title>
    <script>
    function checkNull()
    {
         var num=0;
         var str="";
         $("input[type$='text']").each(function(n){
              if($(this).val()=="")
              {
                   num++;
                   str+="*"+$(this).attr("msg")+"不能为空！\r\n";
              }
         });
         if(num>0)
         {
              alert(str);
              return false;
         }
         else
         {
              return true;
         }
    }
    </script>
{% endblock %}

{% block content %}
    <form method="post" action="">{% csrf_token %}
    <div class="zt-panel white-glass ">
        <table class="table">
            <tbody>
                <tr class="no-top">
                    <td> IMEI </td><td><input type="text" msg="IMEI" name="imei" class="form-control" value=""></td>
                </tr>
                <tr><td>授权码</td><td><input type="text" msg="授权码" name="auth_code" class="form-control" value=""></td></tr>
            </tbody>
        </table>
    </div>
     <input type="submit" onclick="return checkNull()" class="btn  fill btn-lg white-glass" value="关　　　联">
    </form>
{% endblock %}