{% extends 'base.html' %}
{% block title %}
    <title>车辆状态</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.refresh').click(function () {
                window.location.reload()
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="zt-panel white-glass ">
        <table class="table right-value ">
            <tbody>
            <tr class="no-top">
                <td><strong>车辆状态</strong> [{{ car.mdm_imei }}]</td>
                <td></td>
            </tr>
            <tr>
                <td>电瓶电压</td>
                <td>{{ car.batvolt }}mV</td>
            </tr>
            <tr>
                <td>剩余油量</td>
                <td>{{ car.fuel }}</td>
            </tr>
            <tr>
                <td>手刹状态</td>
                <td>{{ car.hand_brake }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="zt-panel white-glass">
        <table class="table right-value ">
            <tbody>
            <tr class="no-top">
                <td><strong>运行状态</strong> [{{ car.mdm_imei }}]</td>
                <td></td>
            </tr>
            <tr>
                <td>钥匙位置</td>
                <td>{{ car.key }}</td>
            </tr>
            {#            <tr><td>ACC</td><td>{{ car.acc }}</td></tr>#}
            <tr>
                <td>冷却液温度</td>
                <td>{% if car.clt_temp > 0 %}
                    {{ car.clt_temp|add:-40 }}℃
                {% else %}
                    --
                {% endif %}
                </td>
            </tr>
            {#            <tr><td>发动机状态</td><td>{{ car.eng }}</td></tr>#}
			<!--
            <tr>
                <td>发动机转速</td>
                <td>{{ car.rpm }}r/min</td>
            </tr>
			-->
            <tr>
                <td>档位</td>
                <td>{{ car.gear }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="zt-panel white-glass  ">
        <table class="table right-value">
            <tbody>
            <tr class="no-top">
                <td><strong>行程信息</strong> [{{ car.mdm_imei }}]</td>
                <td></td>
            </tr>
<!--
            <tr>
                <td>行程时间</td>
                <td>{{ car.trip_time }}</td>
            </tr>
-->
            <tr>
                <td>里程</td>
                <td>{{ car.odo }}</td>
            </tr>
            <tr>
                <td>车速</td>
                <td>{{ car.vspd }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="zt-panel white-glass ">
        <table class="table right-value">
            <tbody>
            <tr class="no-top">
                <td><strong>车身状态</strong> [{{ car.mdm_imei }}]</td>
                <td></td>
            </tr>
            <tr>
                <td>中控锁</td>
                <td>{{ car.clock }}</td>
            </tr>
            <tr>
                <td>后备箱</td>
                <td><span class="switch-{{ car.door_tk }}"></span></td>
            </tr>
            <tr>
                <td>车窗</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="middle">
                    <table class="table white-glass">
                        <tr class="no-top">
                            <td>主驾: <span class="switch-{{ car.wnd_lf }}"></span></td>
                            <td>副驾: <span class="switch-{{ car.wnd_rf }}"></span></td>
                        </tr>
                        <tr class="">
                            <td>左后: <span class="switch-{{ car.wnd_lr }}"></span></td>
                            <td>右后: <span class="switch-{{ car.wnd_rr }}"></span></td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td>车门</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="middle">
                    <table class="table ">
                        <tr class="no-top">
                            <td>主驾: <span class="switch-{{ car.door_lf }}"></span></td>
                            <td>副驾: <span class="switch-{{ car.door_rf }}"></span></td>
                        </tr>
                        <tr class="">
                            <td>左后: <span class="switch-{{ car.door_lr }}"></span></td>
                            <td>右后: <span class="switch-{{ car.door_rr }}"></span></td>
                        </tr>
                    </table>
                </td>
            </tr>
<!--
            <tr>
                <td>安全带</td>
                <td></td>
            </tr>
		
            <tr>
                <td colspan="2" class="middle">
                    <table class="table ">
                        <tr class="no-top">
							{# <td>主驾: <span class="belt-{{ car.belt_l }}"></span></td> #}
                            {# <td>副驾: <span class="belt-{{ car.belt_r }}"></span></td> #}
							<td>主驾:　--　</td>
                            <td>副驾:　--　</td>
                        </tr>
                        {#                    <tr class="no-top"><td>主驾: <span class="switch-1"> </span></td><td>副驾: <span class="switch-0"> </span></td></tr>#}
                    </table>
                </td>
            </tr>
-->
            </tbody>
        </table>
    </div>

    <div class="zt-panel right-panel">
        <button class="btn btn-warning refresh">刷新</button>
    </div>
{% endblock %}